html{
  width: 100%;
}
body {
  background-color: aquamarine;
  width: 100%;
  
}
.container{  
  margin: 0 auto;
  width: 60%;
}
#canvas {
  border: 3px solid black;
  background-color: white;
  border-radius: 1%;
  display: block;
  margin: auto;
}
#form {
  display: flex;
  align-self: 'center';
  margin: auto;
  margin-top:2%;
  justify-content: center;
}
