html{
  width: 99%;
}
body {
  background-color: #0E5A8A;
  width: 100%;
  
}
.container{  
  margin: 0 auto;
  width: 60%;
}
.interval{
  width: 8%;
}
#canvas {
  border: 4px solid black;
  background-color: #F5F8FA;
  border-radius: 1%;
  display: block;
  margin: auto;
}
#form {
  display: flex;
  align-self: 'center';
  margin: auto;
  margin-top:2%;
  justify-content: center;
  align-items: center;
}
